<div class="inner">
  <h1>Estoque</h1>

  <table>
    <thead>
      <tr>
        <th>Data e Hora</th>
        <th>Quantidade</th>
        <th>Entrada / Saída</th>
        <th>Produto</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @estoques.each do |estoque| %>
        <tr>
          <td><%= I18n.l(estoque.data, format: '%d/%m/%Y, às %H:%M') %></td>
          <td><%= estoque.quantidade %></td>
          <td><%= estoque.tipo %></td>
          <td><%= estoque.produto %></td>
          <td><%= link_to 'Edit', edit_estoque_path(estoque) %></td>
          <td><%= link_to 'Destroy', estoque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo item', new_estoque_path %>
</div>