<article class="style<%= rand(1..6) %>">
  <span class="image">
    <% if talk.image_stored? %>
      <%= image_tag(talk.image.thumb('320x320#').url, alt: talk.title) %>
    <% else %>
      <img src="<%= gravatar_url(talk.artist.email) %>?s=300" alt="">
    <% end %>
  </span>

  <%= link_to talk_path(id: talk.slug) do %>
    <h2><%= talk.title %></h2>
    <div class="content">
      <p><%= truncate(talk.description, length: 100) %></p>
      <%= I18n.l(talk.start, format: 'De %d/%m - %H:%M') %> até <%= I18n.l(talk.finish, format: '%d/%m - %H:%M') %>
      <p>Por - <b><%= talk.artist.name %></b></p>
    </div>
  <% end %>
</article>