<div class="inner">
  <h3>Cadastro de palestra</h3>
  <p>Olá <b><%= current_user.usuario %></b>, cadastre uma nova palestra</p>

  <%= simple_form_for @talk do |f| %>
    <div class="field">
      <%= f.input :title, placeholder: 'Digite o título da palestra', label: false %>
    </div>

    <div class="field">
      <%= f.input :description, placeholder: 'Digite a descrição da palestra', label: false %>
    </div>

    <div class="field" >
      <%= f.input :start, label: false %>
      até
      <%= f.input :finish, label: false %>
    </div>

    <div class="field">
      <%= f.association :speaker, collection: @speakers, include_blank: 'Escolha um palestrante', label: false %>
    </div>

    <div class="field">
      <%= f.button :submit, 'Enviar' %>
    </div>
  <% end %>
</div>