<div class="inner">
  <h3>Inscreva-se no nosso site</h3>

  <%= simple_form_for @user do |f| %>
    <div class="field">
      <%= f.input :name, placeholder: 'Digite seu nome', label: false %>
    </div>

    <div class="field">
      <%= f.input :sobrenome, placeholder: 'Digite seu sobrenome', label: false %>
    </div>

    <div class="field">
      <%= f.input :usuario, placeholder: 'Digite seu usuário', label: false %>
    </div>

    <div class="field">
      <%= f.input :password, placeholder: 'Digite sua senha', label: false %>
    </div>

    <div class="field">
      <%= f.input :password_confirmation, placeholder: 'Confirme sua senha', label: false %>
    </div>

    <div class="field">
      <%= f.input :cpf, placeholder: 'Digite seu CPF', label: false %>
    </div>

    <div class="field">
      <%= f.input :email, placeholder: 'Digite seu e-mail', label: false %>
    </div>

    <div class="field">
      <%= f.input :phone, placeholder: 'Digite seu telefone', label: false %>
    </div>

    <%
=begin%>
 <div class="field">
      <%= f.input :state, collection: @states.to_a.map(&:reverse), include_blank: 'Escolha um estado', label: false %>
    </div>

    <div class="field">
      <%= f.input :city, collection: [], label: false %>
    </div> 
<%
=end%>

    <div class="field">
      <%= f.button :submit, 'Enviar' %>
    </div>
  <% end %>
</div>