<div class="inner">
  <h3>Inscreva-se no nosso evento</h3>

  <%= simple_form_for @attendee do |f| %>
    <div class="field">
      <%= f.input :name, placeholder: 'Digite seu nome', label: false %>
    </div>

    <div class="field">
      <%= f.input :cpf, placeholder: 'Digite seu CPF', label: false %>
    </div>

    <div class="field">
      <%= f.input :email, placeholder: 'Digite seu e-mail', label: false %>
    </div>

    <div class="field">
      <%= f.input :phone, placeholder: 'Digite seu telefone', label: false %>
    </div>

    <div class="field">
      <%= f.button :submit, 'Enviar' %>
    </div>
  <% end %>
</div>