<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
  <% if @title.present? %>
    <title><%= @title %> - Estácio TCC - Eventos </title>
  <% else %>
    <title>Estácio TCC - Eventos</title>
  <% end %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="is-preload">
  <!-- Wrapper -->
  <div id="wrapper">
    <%= render 'header' %>
    <%= render 'menu' %>
    <div id="main">
      <%= render 'flash' %>
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</body>
</html>